body {
  background-color: #FEF0EC;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 8vh 4vw;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

h1, h2, h3, h4 {
  font-family: 'Yeseva One', cursive; }

h1 {
  letter-spacing: 3px;
  font-size: 28px;
  margin-bottom: 20px; }

h3 {
  font-size: 20px;
  margin: 32px 0 16px; }

p {
  line-height: 1.8;
  font-size: 1rem; }

a {
  color: #3F65B9; }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }

li {
  margin-bottom: 8px; }

footer {
  font-size: 0.75rem;
  padding: 24px 0 24px; }

caption {
  font-size: 0.875rem;
  color: #696969; }

.contact-form {
  margin-top: 1vh; }

.footer-nav__items {
  display: flex; }
  .footer-nav__items li.footer-nav__item {
    font-size: 24px;
    margin-right: 12px;
    margin-top: 3vh; }
