body {
  background-color: #FEF0EC !important;
  color: #3F60AD;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 18vh 1rem; }

a {
  color: rgba(0, 0, 0, 0.7); }
  a:focus, a:hover {
    color: rgba(0, 0, 0, 0.6); }
